{% extends "base.html" %}
{% block title %}Přihlášení{% endblock %}

{% block content %}
<section class="auth-section">
  <div class="auth-container">

    <div class="auth-card">
      <h1>Přihlášení</h1>

      {% if error %}
        <p class="auth-error">{{ error }}</p>
      {% endif %}

      <form method="post" action="{{ url_for('auth_login_post') }}" class="auth-form">
        <label>
          E-mail
          <input type="email" name="email" required>
        </label>
        <label>
          Heslo
          <input type="password" name="password" required>
        </label>
        <button type="submit" class="btn btn-primary auth-submit">Přihlásit</button>
      </form>

      <p class="auth-register">
        Nemáte účet?
        <a href="{{ url_for('auth_register') }}">Zaregistrujte se</a>.
      </p>
    </div>

<!--    {% if token %}-->
<!--      <div class="auth-token-card">-->
<!--        <h2 class="auth-token-title">JWT token</h2>-->
<!--        <pre class="auth-token-pre">{{ token }}</pre>-->
<!--        &lt;!&ndash; MARK: &ndash;&gt;-->
<!--        <p class="auth-token-note">(zatím ho jen zobrazujeme – později ho můžeš ukládat do cookie nebo používat na API požadavky)</p>-->
<!--      </div>-->
<!--    {% endif %}-->

  </div>
</section>
{% endblock %}
